/* =========================
   RESET GENERALE
   ========================= */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #f8f3e9;
    font-family: Georgia, serif;
}


/* =========================
   SCENA DELLA LIBRERIA
   ========================= */

#libreria-scena {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}


/* Immagine principale della libreria */

#libreria {
    display: block;
    width: 100vw;
    height: 100vh;

    object-fit: cover;
    object-position: center;

    user-select: none;
    -webkit-user-drag: none;

    transition:
        filter 900ms ease,
        transform 900ms ease;
}


/* =========================
   ZONA CLICCABILE INVISIBILE
   ========================= */

#libro-baozzi {
    position: absolute;

    left: 34.5%;
    top: 37%;
    width: 17%;
    height: 36%;

    border: 0;
    padding: 0;
    background: transparent;
    cursor: pointer;
    border-radius: 8%;

    z-index: 4;

    -webkit-tap-highlight-color: transparent;
}


/* Piccolo segnale al tocco */

#libro-baozzi:active {
    background: rgba(255, 224, 155, 0.18);
}


/* =========================
   COPIA DEL LIBRO
   ========================= */

#libro-animato{

    position:absolute;

    left:34.5%;
    top:37%;

    width:17%;

    opacity:0;

    pointer-events:none;

    z-index:3;

    transition:
        all 900ms cubic-bezier(.22,.8,.25,1);

    filter:
        drop-shadow(0 0 0 rgba(0,0,0,0));

} {
    position: absolute;

    left: -34.5vw;
    top: -37vh;

    width: 100vw;
    height: 100vh;

    object-fit: cover;
    object-position: center;

    max-width: none;

    user-select: none;
    -webkit-user-drag: none;
}


/* =========================
   STATO DI APERTURA
   ========================= */

/* La libreria arretra e si sfoca */

body.apertura #libreria {
    filter: brightness(.48) blur(4px);
    transform: scale(1.02);
}


/* La copia del libro viene verso il centro */

body.apertura #libro-in-movimento {
    opacity: 1;

    left: 50%;
    top: 50%;

    width: 17%;
    height: 36%;

    transform:
        translate(-50%, -50%)
        scale(1.75);

    filter:
        drop-shadow(0 28px 26px rgba(30, 18, 8, .45));
}


/* Durante l’animazione il libro non può essere cliccato di nuovo */

body.apertura #libro-baozzi {
    pointer-events: none;
}
