/* Elimina gli spazi automatici aggiunti dal browser */
* {
    box-sizing: border-box;
}

/* Imposta la pagina intera */
html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
}

/* La schermata che contiene la libreria */
body {
    background-color: #f8f3e9;
    overflow: hidden;
}

/* L'immagine della libreria */
#libreria {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
